<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 sideBar-left">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-darke text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Do it</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100"
          id="menu"
        >
          <li class="d-flex justify-content-between align-items-center w-100">
            <a
              href="#"
              class="nav-link px-0 align-middle d-flex align-items-center"
            >
              <i class="fs-4 bi-brightness-high"></i>
              <span class="ms-1 d-none d-sm-inline">My Day</span>
            </a>
            <span class="d-flex align-items-center text-primary">{{
              receivedLists?.todayTasks?.length
            }}</span>
          </li>
          <li class="d-flex justify-content-between align-items-center w-100">
            <a
              href="#"
              class="nav-link px-0 align-middle d-flex align-items-center"
            >
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">Tasks</span>
            </a>
            <span class="d-flex align-items-center text-primary">{{
              receivedLists?.tasks?.length
            }}</span>
          </li>

          <li class="d-flex justify-content-between align-items-center w-100">
            <a
              href="#"
              class="nav-link px-0 align-middle d-flex align-items-center"
            >
              <i class="bi bi-star-fill"></i>
              <span class="ms-1 d-none d-sm-inline">Important</span>
            </a>
            <span class="d-flex align-items-center text-primary">1 </span>
          </li>
          <li class="d-flex justify-content-between align-items-center w-100">
            <a
              href="#"
              class="nav-link px-0 align-middle d-flex align-items-center"
            >
              <i class="bi bi-calendar-check"></i>
              <span class="ms-1 d-none d-sm-inline">Planned</span>
            </a>
            <span class="d-flex align-items-center text-primary">{{
              receivedLists?.PlannedTasks?.length
            }}</span>
          </li>
        </ul>
        <hr />
        <div class="dropdown pb-4">
          <a
            href="#"
            class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="hugenerd"
              width="30"
              height="30"
              class="rounded-circle"
            />
            <span class="d-none d-sm-inline mx-1">loser</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col py-3 app-home">
      <app-home (ListsEmmitter)="handleTasksKind($event)"></app-home>
    </div>
  </div>
</div>
